<div class='fb-edit-section-header'>Ranges</div>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  Min: <input type="text" data-rv-input="option:min" class='option-label-input' placeholder="Min Value" /><br/>
  Label: <input type="text" data-rv-input="option:min_label" class='option-label-input' placeholder="Min Value Label" /><br/>
  Max: <input type="text" data-rv-input="option:max" class='option-label-input' placeholder="Max Value" /><br/>
  Label: <input type="text" data-rv-input="option:max_label" class='option-label-input' placeholder="Max Value Label" /><br/>
  Value: <input type="text" data-rv-input="option:default_value" class='option-label-input' placeholder="Default Value" /><br/>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Add Range"><i class='fa fa-plus-circle'></i></a>
  <a class="js-remove-option <%= Formbuilder.options.BUTTON_CLASS %>" title="Remove Range"><i class='fa fa-minus-circle'></i></a>
</div>

<div class='fb-bottom-add'>
  <a class="js-add-option <%= Formbuilder.options.BUTTON_CLASS %>">Add range</a>
</div>